{% include 'baza.html' %}
{% load static %}
{% include 'nawigacja.html' %}

<style>
    .mydivstyle:hover {
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
        transform: translateY(-20px);
    }

    hr.rounded{
    border-top: 10px solid rgb(1, 191, 255);
    border-radius: 5px;
    }
</style>

{% block content %}
<h1 class="text-center">Panel Admina</h1>
<br><br><br><br><br><br>
{% endblock content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 mydivstyle">
            <h2 style="color: red">{{d}}</h2>
            <a href="{% url 'view_doctor' %}"><h4 style="color:blue">Doktorzy</h4><hr class="rounded"></a>
        </div>
        <div class="col-sm-4 mydivstyle">
            <h2 style="color: red">{{p}}</h2>
            <a href="{% url 'view_patient' %}"><h4 style="color:blue">Pacjenci</h4><hr class="rounded"></a>
        </div>
        <div class="col-sm-4 mydivstyle">
            <h2 style="color: red">{{a}}</h2>
            <a href="{% url 'view_appointment' %}"><h4 style="color:blue">Wizyty</h4><hr class="rounded"></a>
        </div>
    </div>
</div>

{% include 'stopka.html' %}