{% include 'baza.html' %}
{% include 'nawigacja.html' %}
{% block content %}

{% ifequal error "Nie" %}
<script>
    alert('Dodano pomyślnie !');
    window.location = "{% url 'view_doctor' %}";
</script>
{% endifequal %}

{% ifequal error "Tak" %}
<script>
    alert('Błąd !');
</script>
{% endifequal %}

<div class="container">
    <h2 class="text-center">Dodaj Doktora</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Imię i nazwisko</label>
        <input type="text" class="form-control" name="imie">
        <label>Telefon</label>
        <input type="int" class="form-control" name="telefon">
        <label>Specjalność</label>
        <input type="text" class="form-control" name="specjalnosc">
        <input type="submit" value="Wyślij" class="form-control btn btn-primary">
    </form>

</div>

{% endblock content %}
{% include 'stopka.html' %}