<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'stronaglowna' %}">System Zarządzania Wizytacją Pacjentów</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if not request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'stronaglowna' %}">Strona główna <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_login' %}">Zaloguj</a>
        </li>
        {% endif %}
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Panel admina<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Doktorzy
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'view_doctor' %}">Wyświetl Doktorów</a>
            <a class="dropdown-item" href="{% url 'add_doctor' %}">Dodaj Doktora</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pacjenci
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'view_patient' %}">Wyświetl Pacjentów</a>
            <a class="dropdown-item" href="{% url 'add_patient' %}">Dodaj Pacjenta</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Wizyty
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'view_appointment' %}">Wyświetl Wizyty</a>
            <a class="dropdown-item" href="{% url 'add_appointment' %}">Dodaj Wizytę</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_admin' %}">Wyloguj</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>