{% include 'baza.html' %}
{% include 'nawigacja.html' %}
{% block content %}
<div>
    <h2 class="text-center">Wizyty</h2>
    <table id="tabela" class="table table-hover">
        <thead>
            <tr>
                <th>ID Spotkania</th>
                <th>Imie i nazwisko Doktora</th>
                <th>Imie i nazwisko Pacjenta</th>
                <th>Data</th>
                <th>Czas</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doc %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.doktor}}</td>
                <td>{{i.pacjent}}</td>
                <td>{{i.data}}</td>
                <td>{{i.czas}}</td>
                <td><a href="{% url 'delete_appointment' i.id %}" onclick="return confirm('Usunąć wizytę ?')" class="btn btn-danger">Usuń</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% include 'stopka.html' %}